APP_NAME=userservice
PORT=8081

DB_URL=jdbc:postgresql://localhost:5432/lms
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

DDL_AUTO=update
SHOW_SQL=true

EUREKA_URL=http://localhost:8761/eureka/
EUREKA_REGISTER=true
EUREKA_FETCH=true
PREFER_IP=true

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password

MAIL_SMTP_AUTH=true
MAIL_STARTTLS=true